@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  overflow: hidden;
  cursor: none;
  font-family: "Segoe UI", "Noto Sans", system-ui, sans-serif;
}
